# INTERRATER RELIABILITY NOTEBOOK

Create a jupyter notebook to check inter-rater reliability (IRR) for character screen time coding.

import libraries

In [169]:
import os
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('future.no_silent_downcasting', True)

Sophia data cleaning per episodes

In [171]:
sophia_data = pd.read_csv(
    "C:/Users/dalia/OneDrive/CHARACTER TIME OC/SOPHIA -character_time_stamps.csv")
sophia_data['Source'] = 'Sophia'
sophia_data.head()

,Season,Episode,Episode_length,Character,Start_time,End_time,Start_second,End_second,Clip_length,Good_clip,Source
0,1.0,1.0,0:45:08,Ryan,0:45:08,0:33:02,0.0,726.0,726.0,0.0,Sophia
1,1.0,1.0,0:45:08,Sandy,0:43:42,0:40:29,86.0,279.0,193.0,NaN,Sophia
2,1.0,1.0,0:45:08,Sandy,0:38:47,0:36:28,381.0,520.0,139.0,NaN,Sophia
3,1.0,1.0,0:45:08,Kirsten,0:37:36,0:36:28,452.0,520.0,68.0,NaN,Sophia
4,1.0,1.0,0:45:08,Marissa,0:36:20,0:33:54,528.0,674.0,146.0,NaN,Sophia

In [172]:
sophia_data = sophia_data.drop('Good_clip', axis =1)
sophia_data.drop(sophia_data.index[81:], inplace=True)
sophia_data.loc[74:80] = sophia_data.loc[74:80].fillna({'Season':1})

sophia_data.head()


sophia_data_ep1 = sophia_data[sophia_data['Episode'] == 1]

sophia_data_ep1.head()

,Season,Episode,Episode_length,Character,Start_time,End_time,Start_second,End_second,Clip_length,Source
0,1.0,1.0,0:45:08,Ryan,0:45:08,0:33:02,0.0,726.0,726.0,Sophia
1,1.0,1.0,0:45:08,Sandy,0:43:42,0:40:29,86.0,279.0,193.0,Sophia
2,1.0,1.0,0:45:08,Sandy,0:38:47,0:36:28,381.0,520.0,139.0,Sophia
3,1.0,1.0,0:45:08,Kirsten,0:37:36,0:36:28,452.0,520.0,68.0,Sophia
4,1.0,1.0,0:45:08,Marissa,0:36:20,0:33:54,528.0,674.0,146.0,Sophia

Zach data clearning per epsidos

In [174]:
zach_data = pd.read_csv(
    "C:/Users/dalia/OneDrive/CHARACTER TIME OC/ZACH- character_time_stamps.csv")
zach_data['Source'] = 'Zach'
zach_data.head()

,Season,Episode,Episode_length,Character,Start_time,End_time,Start_second,End_second,Clip_length,Good_clip,Source
0,1.0,1.0,0:45:08,Ryan,0:45:08,0:29:42,0.0,926.0,926.0,NaN,Zach
1,1.0,1.0,0:45:08,Sandy,0:43:41,0:40:27,87.0,281.0,194.0,NaN,Zach
2,1.0,1.0,0:45:08,Sandy,0:38:48,0:36:27,380.0,521.0,141.0,NaN,Zach
3,1.0,1.0,0:45:08,Kirsten,0:37:28,0:36:27,460.0,521.0,61.0,NaN,Zach
4,1.0,1.0,0:45:08,Marissa,0:36:24,0:33:54,524.0,674.0,150.0,NaN,Zach

In [175]:
zach_data = zach_data.drop(63)
zach_data.drop(zach_data.index[154:], inplace = True)
zach_data.head()


zach_data = zach_data.drop('Good_clip', axis = 1)
zach_data['Source'] = 'Zach'
zach_data = zach_data.replace(to_replace="Marissa ", value="Marissa")


zach_data_ep1 = zach_data[zach_data['Episode'] == 1]
zach_data.head()

,Season,Episode,Episode_length,Character,Start_time,End_time,Start_second,End_second,Clip_length,Source
0,1.0,1.0,0:45:08,Ryan,0:45:08,0:29:42,0.0,926.0,926.0,Zach
1,1.0,1.0,0:45:08,Sandy,0:43:41,0:40:27,87.0,281.0,194.0,Zach
2,1.0,1.0,0:45:08,Sandy,0:38:48,0:36:27,380.0,521.0,141.0,Zach
3,1.0,1.0,0:45:08,Kirsten,0:37:28,0:36:27,460.0,521.0,61.0,Zach
4,1.0,1.0,0:45:08,Marissa,0:36:24,0:33:54,524.0,674.0,150.0,Zach

In [176]:
#merging datasets

mergedf = pd.merge(dalia_data, zach_data, how='outer')
mergedf.head()

masterdf = pd.merge(mergedf, sophia_data, how = 'outer')
masterdf.head()


#New DF for episode 1 bar plot 
ep_1_df = masterdf[masterdf['Episode']  <2]
print(ep_1_df)

character_seconds_source_df = pd.DataFrame(columns=["Character", "Seconds","Source"])
print(character_seconds_source_df)

     Season  Episode Episode_length Character Start_time End_time  \
0       1.0      1.0        0:45:08     Jimmy    0:16:45  0:15:34
1       1.0      1.0        0:45:08     Jimmy    0:16:51  0:15:36
2       1.0      1.0        0:45:08     Jimmy    0:16:52  0:15:35
3       1.0      1.0        0:45:08     Jimmy    0:21:10  0:20:09
4       1.0      1.0        0:45:08     Jimmy    0:21:22  0:20:16
..      ...      ...            ...       ...        ...      ...
190     1.0      1.0        0:45:08    Summer    0:22:55  0:22:32
191     1.0      1.0        0:45:08    Summer    0:22:56  0:20:49
192     1.0      1.0        0:45:08    Summer    0:24:15  0:23:55
193     1.0      1.0        0:45:08    Summer    0:24:16  0:23:46
194     1.0      1.0        0:45:08    Summer    0:24:16  0:23:58

     Start_second  End_second  Clip_length  Source
0          1703.0      1774.0         71.0   Dalia
1          1697.0      1772.0         75.0    Zach
2          1696.0      1773.0         77.0  Sophia
3          1438.0      1499.0         61.0   Dalia
4          1426.0      1492.0         66.0  Sophia
..            ...         ...          ...     ...
190        1333.0      1356.0         23.0  Sophia
191        1332.0      1459.0        127.0    Zach
192        1253.0      1273.0         20.0   Dalia
193        1252.0      1282.0         30.0    Zach
194        1252.0      1270.0         18.0  Sophia

[195 rows x 10 columns]
Empty DataFrame
Columns: [Character, Seconds, Source]
Index: []

zach work for screenitme data separate

In [178]:
ftr = [3600,60,1]

test = zach_data_ep1['Episode_length'][0]
zach_data_ep1.head()

zchar = zach_data_ep1['Character'].unique()
print(zchar)

z_total_epleng = sum([a*b for a,b in zip(ftr, map(int,test.split(':')))])

zach_screentime_ep1 = pd.DataFrame(columns = zchar, index = range(z_total_epleng))
zach_screentime_ep1.head()

for n_row in zach_data_ep1.index:
    temp_char = zach_data_ep1.loc[n_row,'Character']
    temp_start_idx= zach_data_ep1.loc[n_row, 'Start_second']
    temp_end_idx = zach_data_ep1.loc[n_row, 'End_second']
    zach_screentime_ep1.loc[temp_start_idx:temp_end_idx, temp_char] = 1

zach_screentime_ep1.fillna(0, inplace = True)

zach_screentime_ep1['Seconds'] = zach_screentime_ep1.index

zach_screentime_ep1['Rater'] = 'Zach'

zach_screentime_ep1.head()

['Ryan' 'Sandy' 'Kirsten' 'Marissa' 'Luke' 'Seth' 'Jimmy' 'Julie' 'Summer']

  Ryan Sandy Kirsten Marissa Luke Seth Jimmy Julie Summer  Seconds Rater
0    1     0       0       0    0    0     0     0      0        0  Zach
1    1     0       0       0    0    0     0     0      0        1  Zach
2    1     0       0       0    0    0     0     0      0        2  Zach
3    1     0       0       0    0    0     0     0      0        3  Zach
4    1     0       0       0    0    0     0     0      0        4  Zach

Sophia SCreentime data from only 1 episode

In [180]:
ftr = [3600,60,1]

test = sophia_data_ep1['Episode_length'][0]
print(test)

schar = sophia_data_ep1['Character'].unique()

print(schar)

s_total_epleng = sum([a*b for a,b in zip(ftr, map(int,test.split(':')))])

sophia_screentime_ep1 = pd.DataFrame(columns = schar, index = range(s_total_epleng))

print(sophia_screentime_ep1)

for n_row in sophia_data_ep1.index:
    temp_char = sophia_data_ep1.loc[n_row,'Character']
    temp_start_idx= sophia_data_ep1.loc[n_row, 'Start_second']
    temp_end_idx = sophia_data_ep1.loc[n_row, 'End_second']
    sophia_screentime_ep1.loc[temp_start_idx:temp_end_idx, temp_char] = 1

sophia_screentime_ep1.fillna(0, inplace = True)

sophia_screentime_ep1['Seconds'] = sophia_screentime_ep1.index

sophia_screentime_ep1['Rater'] = 'Sophia'


sophia_screentime_ep1.head()

0:45:08
['Ryan' 'Sandy' 'Kirsten' 'Marissa' 'Luke' 'Seth' 'Jimmy' 'Julie' 'Summer']
     Ryan Sandy Kirsten Marissa Luke Seth Jimmy Julie Summer
0     NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
1     NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
2     NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
3     NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
4     NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
...   ...   ...     ...     ...  ...  ...   ...   ...    ...
2703  NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
2704  NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
2705  NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
2706  NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN
2707  NaN   NaN     NaN     NaN  NaN  NaN   NaN   NaN    NaN

[2708 rows x 9 columns]

  Ryan Sandy Kirsten Marissa Luke Seth Jimmy Julie Summer  Seconds   Rater
0    1     0       0       0    0    0     0     0      0        0  Sophia
1    1     0       0       0    0    0     0     0      0        1  Sophia
2    1     0       0       0    0    0     0     0      0        2  Sophia
3    1     0       0       0    0    0     0     0      0        3  Sophia
4    1     0       0       0    0    0     0     0      0        4  Sophia

In [181]:
#merge sophia and zach datasets

ep1_screentime_data = pd.merge(sophia_screentime_ep1, 
                                zach_screentime_ep1, how='outer')

ep1_screentime_data.head()

  Ryan Sandy Kirsten Marissa Luke Seth Jimmy Julie Summer  Seconds   Rater
0    0     0       0       0    0    0     0     0      0      727  Sophia
1    0     0       0       0    0    0     0     0      0      728  Sophia
2    0     0       0       0    0    0     0     0      0      729  Sophia
3    0     0       0       0    0    0     0     0      0      730  Sophia
4    0     0       0       0    0    0     0     0      0      731  Sophia

# Inter Rater Reliability Check starts here

In [195]:
from sklearn.metrics import cohen_kappa_score

ryan_zach = zach_screentime_ep1['Ryan']

print(ryan_zach)

ryan_sophia = sophia_screentime_ep1['Ryan']

print(ryan_sophia)

output = cohen_kappa_score(ryan_zach, ryan_sophia)

print(output)

print(char_list)


#Update: Above code so far still giving error. Will continue to troubleshoot

0       1
1       1
2       1
3       1
4       1
       ..
2703    0
2704    0
2705    0
2706    0
2707    0
Name: Ryan, Length: 2708, dtype: object
0       1
1       1
2       1
3       1
4       1
       ..
2703    0
2704    0
2705    0
2706    0
2707    0
Name: Ryan, Length: 2708, dtype: object

ValueError: unknown is not supported